span {
  font-size: 1em;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

mat-progress-spinner {
  display: inline-block !important;
  height: 20px !important;
  width: 20px !important;
  vertical-align: middle !important;
}
