div {
  margin: 0 auto;
  text-align: center;

  mat-expansion-panel {
    margin: 0 0 1em 0;

    &.active .title-icon {
      color: darkgreen;
    }
    mat-icon.title-icon {
      margin-right: 1em;
    }

    mat-icon {
      color: lightgrey;

      &.active {
        color: darkgreen;
      }
    }

    mat-form-field {
      display: block;
    }
  }

  button {
    display: block;
    margin: 0.5em auto;
  }

  mat-radio-button:first-child {
    margin-right: 3em;
  }
}

.reset-form {
  display: inline-block;
  margin-right: 1em;

  &:hover {
    text-decoration: underline;
  }

  & + button {
    display: inline-block;
  }
}
