div {
  margin: 1em auto 0 auto;
  text-align: center;
  background: white;
  padding: 1em;
  border-radius: 10px;

  button {
    margin-top: 10px;
  }

  mat-slide-toggle {
    display: block;
    text-align: center;
  }

  mat-form-field {
    width: 100%;

    &.mat-form-field-ville input {
      text-transform: uppercase;
    }
  }

  mat-radio-button:first-child {
    margin-right: 3em;
  }
}

.fil-ariane {

  span,
  mat-icon {
    display: inline-block;
    vertical-align: middle;
  }

  span {
    font-size: 0.9em;
    margin: 0 5px;

    &.isActive {
      color: #d6180b;
    }

    &.isPrevious {
      cursor: pointer;
    }
  }
}

@media only screen and (min-width: 0) and (max-width: 950px) {

  div {
      width: calc(100% - 5em);
  }
}

@media only screen and (min-width: 951px) {
  div {
    width: 25em;
  }
}
